<aside class="contenedor-proyectos">
    <div class="panel crear-proyecto">
      <a href="/nuevo-proyecto" class="boton">Nuevo Proyecto<span>+</span></a>
    </div>
    <div class="panel lista-proyectos">
      <h2>Proyectos</h2>
      <ul>
        <% if(proyectos.length){ %> 
          <% proyectos.forEach(e=>{%> 
              <li >
              <a href='/proyectos/<%= e.url %> '><%= e.nombre %></a>
              </li>
              <% })} %> 

      </ul>


    </div>
 
    
  </aside>