<aside class="contenedor-proyectos">
    <div class="panel crear-proyecto">
      <a href="/nuevo-proyecto" class="boton">Nuevo Proyecto<span>+</span></a>
    </div>
    <div class="panel lista-proyectos">
      <h2>Proyectos</h2>
      <ul>
        <li >
          <a href="#">Diseño de Tienda Virtual</a>
        </li>
        <li>
          <a href="#">Diseño del Nuevo Blog</a>
        </li>
        <li>
          <a href="#">Diseño de Logotipo</a>
        </li>

      </ul>


    </div>
 
    
  </aside>