<!DOCTYPE html>
<html>

 <%- include('partials/head.ejs',title)  %> 
  
 <body>
    <%- include('partials/header.ejs', title)  %> 

    <main class="contenedor">
      <%- include('partials/sideBar.ejs')  %> 

      <div class="contenido-principal">
        <h1><%=nombrePagina%> </h1>

      </div>
   

    </main>
   
  </body>
</html>
